.form {
        display: flex;
        flex-direction: column;
        width: 480px;
        height: 466px;
        background: #BE0909;
	    align-items: stretch;
        max-width: 500px;
        border: none;
    }
    .label {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FEFFFF;
    }
.input-name {
    background: #BE0909;
    width: 80%;
    height: 40px;
    border-bottom: 1px solid #9DBEBB;
    border-top: none;
    border-left: none;
    border-right: none;
}
